<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span showWhen="ios">Annuleer</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="forms-validations-content">
  <form *ngIf="companyCar === true" class="activity-form validations-form" [formGroup]="companyCarForm">
    <section class="form-section">
        <h2 class="section-title">Informatie over bedrijfsauto</h2>
        <ion-item> 
          <ion-label floating>Kenteken</ion-label>
          <ion-input name="licenseplate" type="text" formControlName="licenseplate"
          class="form-controll" required></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.licenseplate">
            <div class="error-message" *ngIf="companyCarForm.get('licenseplate').hasError(validation.type) && 
            (companyCarForm.get('licenseplate').dirty || companyCarForm.get('licenseplate').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
            <ion-label floating>Huidige kilometerstand</ion-label>
            <ion-input name="companyMileage"  formControlName="companyMileage" [brmasker]="{numberAndTousand: true, thousand: '.'}"
            class="form-controll"  required></ion-input>
        </ion-item>
   
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.companyMileage">
            <div class="error-message" *ngIf="companyCarForm.get('companyMileage').hasError(validation.type) && 
            (companyCarForm.get('companyMileage').dirty || companyCarForm.get('companyMileage').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    </section>

    <button ion-button full (click)="addCarToPDF(companyCarForm.value)">Maak werkbriefje</button>
  </form>

  <form *ngIf="companyCar === false" class="activity-form validations-form" [formGroup]="carForm">
    <section class="form-section">
        <h2 class="section-title">Hoeveel kilometer heb je deze week gereden met je eigen auto?</h2>
        
        <ion-item>
            <ion-label floating>Aantal kilometer</ion-label>
            <ion-input name="mileage" type="number" formControlName="mileage" [brmasker]="{numberAndTousand: true, thousand: '.'}"
            class="form-controll"></ion-input>
        </ion-item>
  
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.mileage">
            <div class="error-message" *ngIf="carForm.get('mileage').hasError(validation.type) && 
            (carForm.get('mileage').dirty || carForm.get('mileage').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    </section>

    <button ion-button full (click)="addCarToPDF(carForm.value)">Maak werkbriefje</button>
  </form>
  
</ion-content>
