<ion-header>
  <ion-navbar>
    <ion-title>Werkurenbriefje - week {{ isoString | formatDate:'W' }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPDFAlert()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="schedule-content">
  <ion-segment class="schedule-segment" [(ngModel)]="segment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="today" (ionSelect)="onSegmentSelected($event)">
      Vandaag  
    </ion-segment-button>
    <ion-segment-button value="overview" (ionSelect)="onSegmentSelected($event)">
      Rest v.d. week
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'today'">

      <no-activities [authenticatedUser]="userObject" *ngIf="noActivities === true"></no-activities>

      <ion-list class="schedule-list"  *ngIf="!noActivities">
        <ion-item class="schedule-item" *ngFor="let activity of activities">
          <ion-row>
            <ion-col width-20 class="schedule-date">
              <h2 class="schedule-day">{{ activity?.isoDateString | formatDate:'D' }}</h2>
              <h3 class="schedule-month">{{ activity?.isoDateString | formatDate:'MMM' | slice:0:-1 | uppercase }}</h3>
              <h4 class="schedule-time">{{ activity?.isoDateString | formatDate:'YYYY' }}</h4>
            </ion-col>

            <ion-col width-80 class="schedule-data">
              <div class="data-item" (click)="openActivity(activity)">
                <div class="item-content">
                    <h2 class="item-title one-line">{{ activity?.clientName }}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="time"></ion-icon>
                    <p class="description-text">{{ activity?.startTime }} - {{ activity?.endTime }}</p>
                  </div>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="map"></ion-icon>
                    <p class="description-text one-line">{{ activity?.location }}</p>
                    <h3 class="sub-hours">{{ activity?.minutesDifference | formatHours }}</h3>
                  </div>

                </div>

                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-fab bottom right [@shake]="state" (@shake.done)="onEnd($event)">
          <button ion-fab (click)="addNewActivity()">
            <ion-icon name="add"></ion-icon>
          </button>  
        </ion-fab>
    </div> 

    <div *ngSwitchCase="'overview'">

        <no-week-activities [authenticatedUser]="userObject" *ngIf="noWeekActivities === true"></no-week-activities>

      <ion-list class="schedule-list" @staggerAnimation>
        <ion-item class="schedule-item" *ngFor="let activity of weekActivities">
          <h2 class="section-title">{{ activity.isoDateString | formatDate: 'dddd'}}</h2> 
          <ion-row>
            <ion-col width-20 class="schedule-date">
                <h2 class="schedule-day">{{ activity.isoDateString | formatDate:'D' }}</h2>
                <h3 class="schedule-month">{{ activity.isoDateString | formatDate:'MMM' | slice:0:-1 | uppercase }}</h3>
                <h4 class="schedule-time">{{ activity.isoDateString | formatDate:'YYYY' }}</h4>
            </ion-col>
            <ion-col width-80 class="schedule-data" (click)="openActivity(activity)">
                <div class="data-item">
                    <div class="item-content">
                      <h2 class="item-title one-line">{{activity.clientName}}</h2>
                      <div class="item-description">
                        <ion-icon class="description-icon" name="time"></ion-icon>
                        <p class="description-text">{{activity.startTime}} - {{activity.endTime}} uur</p>
                      </div>
                      <div class="item-description">
                        <ion-icon class="description-icon" name="map"></ion-icon>
                        <p class="description-text one-line">{{ activity.location }}</p>
                        <h3 class="sub-hours">{{ activity?.minutesDifference | formatHours }}</h3>
                      </div>
                    </div>
                    <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
                  </div>
            </ion-col>
          </ion-row>
        </ion-item>  
      </ion-list>
    </div>
  </div>
</ion-content> 

<ion-footer class="footer" no-border>
  <daily-footer-counter *ngIf="!showWeekHours"></daily-footer-counter>
  <weekly-footer-counter *ngIf="showWeekHours"></weekly-footer-counter>
</ion-footer>
