page-login {
    .error-message
    {
      color: red;
    }
   .login-content
   {
       .alt-options
       {
           .button
           {
               margin: 0px;
               padding: 0px;
               font-size: 1.4rem;
           }

           .forgot-button
           {
               color: $white-d;

               .button-inner
               {
                   justify-content: flex-start;
               }
           }

           .signup-button
           {
               font-weight: 500;
               color: $theme-color;

               .button-inner
               {
                   justify-content: flex-end;
               }
           }
       }
   }
}
