<!-- <div [ngStyle]="styles"></div> -->

<ion-item class="schedule-item"[ngStyle]="styles">
    <ion-row>
      <ion-col width-20 class="schedule-date">
          <h2 class="schedule-day"></h2>
          <h3 class="schedule-month"></h3>
          <h4 class="schedule-time"></h4>
      </ion-col>
      <ion-col width-80 class="schedule-data">
        <div class="data-item">
          <div class="item-content">
            <h2 class="item-title one-line"></h2>
            <div class="item-description">
              <p class="description-text"></p>
            </div>
            <div class="item-description">
              <p class="description-text one-line"></p>
              <h3 class="sub-hours"></h3>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-item> 