<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>Registreer profiel</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <form class="login-form auth-form validations-form" [formGroup]="registerForm" (ngSubmit)="registerAccount(registerForm.value)">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    
    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-input type="password" placeholder="Wachtwoord" formControlName="password"></ion-input>
      </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="registerForm.get('matching_passwords').get('password').hasError(validation.type) && (registerForm.get('matching_passwords').get('password').dirty || registerForm.get('matching_passwords').get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

      <ion-item>
        <ion-input type="password" placeholder="Herhaal wachtwoord" formControlName="confirm_password"></ion-input>
      </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message" *ngIf="registerForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (registerForm.get('matching_passwords').get('confirm_password').dirty || registerForm.get('matching_passwords').get('confirm_password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
      <!-- These validations are for the form group -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message" *ngIf="registerForm.get('matching_passwords').hasError(validation.type) && (registerForm.get('matching_passwords').get('confirm_password').dirty || registerForm.get('matching_passwords').get('confirm_password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    

     
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!registerForm.valid">Registreer</button>
  </form>

  <div class="validation-errors">
    <ng-container >
      <div class="error-message" *ngIf="errorMessage">
             {{ errorMessage }}
      </div>
    </ng-container>
  </div>
  
  <ion-row class="alt-options">
    <ion-col no-padding width-50></ion-col>
  </ion-row>

  <h2 class="section-title">Wachtwoord vergeten?</h2>
  <form class="login-form auth-form validations-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty 
          || forgotPasswordForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!forgotPasswordForm.valid">Verstuur nieuw wachtwoord</button>

    </form>

    <div class="validation-errors">
      <ng-container >
        <div class="error-message" *ngIf="errorMessage">
               {{ errorMessage }}
        </div>
      </ng-container>
    </div>
    
    <ion-row class="alt-options">
      <ion-col no-padding width-50></ion-col>
    </ion-row>
</ion-content>
