page-forgot-password {
    .forgot-password-content {

     .section-title
     {
         font-size: 1.8rem;
         line-height: 1.2;
         letter-spacing: 1.1px;
         text-align: center;
         color: $theme-color;
         font-weight: 400;
         margin-top: 35px;
     }

     .recover-message
		{
			color: $white-d;
			margin: 10px 0px;
		}
     
      
        .button
        {
            margin: 0px;
            padding: 0px;
            font-size: 1.4rem;
        }

        .forgot-button
        {
            color: $white-d;

            .button-inner
            {
                text-align: center;
            }
        }
        
 
        .validation-errors
       {
         .error-message
         {
           color: color($colors, danger);
           font-size: 14px;
             font-weight: 500;
           line-height: 1.6rem;
           position: relative;
           padding-left: 22px;
           margin-bottom: 10px;
 
           &:first-child
           {
             margin-top: 10px;
           }
 
           &::before
           {
             font-family: "Ionicons";
             content: "\f19f";
             font-size: 16px;
             width: 16px;
             height: 16px;
             text-align: center;
             position: absolute;
             left: 0px;
           }
         }
       }
 
    }
}
