<ion-header class="privacy-header legal-header">
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span showWhen="ios">Annuleer</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Privacy voorwaarden
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="privacy-content legal-content">
    <p>Laatst aangepast: 23 november 2018</p>
    <h4 class="legal-title">Welkom bij Digitaal werkurenbriefje</h4>
    <p>Deze app ondersteunt met het doorgeven van uren. Na elke werkweek is het mogelijk een werkurenbriefje te genereren in PDF formaat. Deze kan de gebruiker vervolgens zelf doorsturen naar zijn of haar werkgever.</p>
    <h4 class="legal-title">Opslaan van data</h4>
    <p>Een werkbriefje bestaat uit verschillende klussen. 
      Om aan het einde van een week een werkbriefje te kunnen maken, is het noodzakelijk dat deze klussen worden opgeslagen in een database. Het gegenereerde werkbriefje in PDF formaat wordt niet opgeslagen.</p>
    <p>Wanneer een gebruiker zijn of haar profiel verwijderd, is het mogelijk alle klussen uit de database te verwijderen die zijn verbonden aan de betreffende gebruiker. Dit kan via de profiel pagina.</p>
  </ion-content>
  