<div class="schedule-date">
  <h2 class="schedule-day">{{ isoTring | formatDate:'dddd'}}</h2>
  <h3 class="schedule-month">{{ isoTring | formatDate:'D'}} {{ isoTring | formatDate:'MMMM'}} {{ isoTring | formatDate:'YYYY'}}</h3>
</div>

<div class="schedule-data">
  <h3 class="title-text" text-center>Welkom terug, {{ authenticatedUser?.firstName }}</h3>
  <h4 class="description-text" text-center>Je hebt voor vandaag nog geen klus toegevoegd aan je werkbriefje. Gebruik de '+' om een nieuwe klus toe te voegen.</h4>
</div>