activity-detail-overview {
    .sub-title {
        font-size: 1.4rem;
        line-height: 1.2;
        letter-spacing: 1px;
        color: #8a2c2c;
        font-weight: 400;
        margin: 0px;
    }

    .input {
        font-size: 1.4rem;
        padding-top: 0px;
        margin-top: 2.5px;
    }

    .no-padding-row {
        padding-top: -20px;
    }

    #break {
        font-size: 1.2rem;
    }
    
    .h2-icon {
        padding-left: 4px;
        font-size: 2.1rem;
        text-align: right;
    }

    .description-icon
    {
        color: $theme-color;
        flex: 0 0 12%;
        max-width: 12%;
        padding-right: 2px;
        font-size: 2.1rem;
        text-align: left;
    }


    .time {
        font-weight: 400;
    }

    .theme {
        color: $theme-color;
    }
}
