walkthrough-page {

	ion-content {
		background-color: color($colors, walkthrough, base) !important;
	
	}

	.swiper-pagination-bullet {
		background: $white;
		opacity: .5;
		border-radius: 3px;
					width: 10%;
					height: 8px;

		&.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}

	.swiper-pagination {
		bottom: 12% !important;
	}

	.diag {
		position:absolute;
		z-index:1;
		width:100%;
		top: 0;
		height: 66%;
	}
	
	ion-icon {
		margin-top:40%;
		font-size:6em;
	}
	
	h2 {
		margin-top:80% !important;
		font-weight:bold;
		font-size:1em;
		color: $white;
	}
	
	p {
		width:80%;
		display:block;
		margin: 0 auto;
		font-size:.8em;
		color: $white;
	}
	
	#skip {
		position:absolute;
		bottom: 20px;
		width:100%;
		color: $white;
		background: none !important;
		text-align: center;
		cursor: pointer;
		z-index: 5;
	}
}
