<form *ngIf="update" class="sample-form validations-form" [formGroup]="updateActivityForm" 
(ngSubmit)="performChange(updateActivityForm.value, update)">
  <section class="form-section">
    <h2 class="section-title">Klantgegevens</h2>
    <ion-item>
      <ion-label floating>Naam van klant</ion-label>
      <ion-input name="clientName" type="text" formControlName="clientName" [(ngModel)]="activityObject.clientName" 
        class="form-controll" required></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.clientName">
        <div class="error-message" *ngIf="updateActivityForm.get('clientName').hasError(validation.type) 
          && (updateActivityForm.get('clientName').dirty || updateActivityForm.get('clientName').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>Locatie</ion-label>
      <ion-input name="location" type="text" formControlName="location" [(ngModel)]="activityObject.location" 
        class="form-controll" required></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.location">
        <div class="error-message" *ngIf="updateActivityForm.get('location').hasError(validation.type) 
          && (updateActivityForm.get('location').dirty || updateActivityForm.get('location').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </section> 

  <section class="form-section">
    <h2 *ngIf="update && !minutesWithBreakDifference" class="section-title">Tijden</h2>
    <h2 *ngIf="update && minutesWithBreakDifference" class="section-title">{{ minutesWithBreakDifference | formatHours}} gewerkt inclusief pauze</h2>
  
    <ion-item>
      <ion-label floating>Begonnen om</ion-label>
      <ion-datetime 
        displayFormat="HH:mm" 
        minuteValues="0,15,30,45"
        formControlName="startTime"
        [(ngModel)]="activityObject.startTime" 
        cancelText=Annuleer 
        doneText=Bevestig></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Gestopt om</ion-label>
        <ion-datetime 
            (ionChange)="calculateBreak(updateActivityForm.value.startTime, updateActivityForm.value.endTime)"
            displayFormat="HH:mm"
            minuteValues="0,15,30,45"  
            formControlName="endTime"
            [(ngModel)]="activityObject.endTime"
            cancelText=Annuleer 
            doneText=Bevestig>
        </ion-datetime>
    </ion-item>
  </section>

  <section class="form-section">
      <h2 class="section-title">Werkzaamheden</h2>
      <div *ngFor="let activity of activityObject.activities">
        <ul>
          <li>{{ activity.name }}</li>
        </ul>
      </div>
  </section>
  <button ion-button full type="submit" [disabled]="!updateActivityForm.valid">Opslaan</button>
</form> 