ion-alert.category-prompt {
    .alert-wrapper
    {
        width: 80%;
        background-color: $white;
    }

    .alert-head
    {
        padding-bottom: 20px;

        .alert-title
        {
            font-size: 2.0rem;
            line-height: 1.2;
            letter-spacing: 1.1px;
            text-align: center;
            color: $theme-color;
            font-weight: 400;
        }
    }

    .alert-message:empty
    {
        display: none;
    }

    .alert-radio-group
    {
        border: none;
        padding: 0px 20px;

        .alert-radio
        {
            margin: 14px 0px;

            .alert-radio-label
            {
                border-radius: 6px;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 0.2px;
                background-color: $white-a;
                color: $white-d;
                text-align: center;
                @include element-shadow();
            }

            &[aria-checked=true] .alert-radio-label
            {
                background-color: $theme-color;
                color: $white;
            }

            .alert-radio-icon
            {
                display: none;
            }
        }
    }

    .alert-button-group
    {
        padding: 14px 0px;

        .alert-button
        {
            @include segment-text-styles($white-d);
            border-top: none;
            border-right-color: rgba($white-d, 0.3);
            font-weight: 400;

            &:last-child
            {
              font-weight: 500;
                color: $theme-color;
            }
        }
    }
}
