<ion-header>
  <ion-navbar>
    <ion-title>Nieuwe klus</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-validations-content">
  <ion-grid fixed>
      <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" [pager]="true" paginationType="progress">
          <ion-slide class="slide-1">
            
                <form class="activity-form validations-form" [formGroup]="firstActivityForm"> 
                    <h2 class="section-title">Waar ben je geweest?</h2>
                    <section class="form-section"> 
                      
                    <ion-item *ngIf="weekActivity === true">
                      <ion-label floating>
                          <ion-icon class="description-icon" name="calendar" item-left primary></ion-icon>
                       Selecteer een datum</ion-label>
                      <ion-datetime 
                        formControlName="date" 
                        [(ngModel)]="timeObject.start"
                        displayFormat="DD MMMM YYYY" 
                        [min]="timeObject.min" 
                        [max]="timeObject.max"
                        required
                        monthNames="januari, februari, maart, april, mei, juni, juli, augustus, september, oktober, november, december"
                        monthShortNames="jan, feb, mrt, apr, mei, jun, jul, aug, sep, okt, nov, dec"
                        pickerFormat="DD-MM-YYYY" 
                        cancelText=Annuleer 
                        doneText=Bevestig></ion-datetime> 
                      </ion-item>
            
                      <ion-item>
                        <ion-label floating>Naam van klant
                        </ion-label>
                        <ion-input type="text" formControlName="clientName" class="form-controll" required clearInput></ion-input>
                      </ion-item>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.clientName">
                            <div class="error-message" *ngIf="firstActivityForm.get('clientName').hasError(validation.type) && (firstActivityForm.get('clientName').dirty || firstActivityForm.get('clientName').touched)">
                              {{ validation.message }}
                            </div>
                          </ng-container>
                        </div>
            
                      <ion-item>
                          <ion-label floating>Plaatsnaam en/of adres
                          </ion-label>
                          <ion-input type="text" formControlName="location" class="form-controll" required clearInput></ion-input>
                      </ion-item>
            
                      <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.location">
                          <div class="error-message" *ngIf="firstActivityForm.get('location').hasError(validation.type) 
                            && (firstActivityForm.get('location').dirty || firstActivityForm.get('location').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
            
                    </section>
                    <ion-buttons end>
                        <button [disabled]="firstActivityForm.invalid" ion-button icon-right (click)="nextSlide()">Volgende (1/3)<ion-icon name="arrow-forward"></ion-icon></button>
                    </ion-buttons>
                  </form>
            
          </ion-slide>
      
          <ion-slide class="slide-2">
            <form class="activity-form validations-form" [formGroup]="secondActivityForm">
                <h2 class="section-title">Werkzaamheden</h2>
              <div formArrayName="activities">
                <section [formGroupName]="i" class="form-section"
                  *ngFor="let a of secondActivityForm.controls.activities.controls; let i = index">
                  <ion-item>
                      <ion-label floating>Taak</ion-label>
                      <ion-input type="text" class="form-controll" maxlength="50" formControlName="name" clearInput></ion-input>
                  </ion-item>
      
                  <span float-right ion-button icon-left clear
                      *ngIf="secondActivityForm.controls.activities.length > 1"
                      (click)="removeInputField(i)">
                      <ion-icon name="close"></ion-icon>
                      Verwijder
                  </span>
                </section>
              </div>
              
              <span ion-button float-left icon-left clear (click)="addNewInputField()">
                <ion-icon name="add"></ion-icon>
                    Voeg nieuwe taak toe
              </span>
      
              <ion-buttons end>
                  <button [disabled]="secondActivityForm.invalid" ion-button icon-right (click)="nextSlide()">Volgende (2/3)<ion-icon name="arrow-forward"></ion-icon></button>
              </ion-buttons>
            </form>
          </ion-slide>
      
          <ion-slide class="slide-3">
              <form class="activity-form validations-form" [formGroup]="thirdActivityForm">
                <section class="form-section">
                    <h2 *ngIf="!minutesWithBreakDifference" class="section-title">Bijna klaar ...</h2>
                    <h2 class="section-title" *ngIf="minutesWithBreakDifference">Totaal {{ minutesWithBreakDifference | formatHours }} gewerkt inclusief pauze</h2>
      
                    <ion-item>
                        <ion-label floating>Hoe laat ben je begonnen?</ion-label>
                        <ion-datetime 
                          displayFormat="HH:mm" 
                          minuteValues="0,15,30,45"
                          formControlName="startTime" 
                          cancelText=Annuleer 
                          doneText=Bevestig></ion-datetime>
                    </ion-item>
      
                    <ion-item>
                        <ion-label floating>En hoe laat was je klaar?</ion-label>
                        <ion-datetime 
                            (ionChange)="calculateBreak(thirdActivityForm.value.startTime, thirdActivityForm.value.endTime)"
                            displayFormat="HH:mm"
                            minuteValues="0,15,30,45" 
                            formControlName="endTime" 
                            cancelText=Annuleer 
                            doneText=Bevestig>
                        </ion-datetime>
                    </ion-item>
                </section>
      
                
                <button ion-button class="form-action-button" (click)="saveActivity()">Voeg klus toe aan werkbriefje</button>
               
              </form>
            </ion-slide>
          
        </ion-slides>

  </ion-grid>
</ion-content>
